.contenedor {
  text-align: center;
  font-family: Verdana, sans-serif;
  margin-top: 40px;
}

.formulario {
  margin-bottom: 20px;
}

.formulario input {
  padding: 8px;
  width: 200px;
}

.formulario button {
  padding: 8px 12px;
  margin-left: 5px;
}

.tarea {
  background: #f5f5f5;
  margin: 6px auto;
  padding: 8px 12px;
  width: 320px;
  display: flex;
  justify-content: space-between;
  border-radius: 6px;
}

.tarea.completa span {
  text-decoration: line-through;
  color: gray;
}